:root {
  --dark-blue-2: rgb(12, 12, 29);
  --purple: rgb(170, 92, 219);
  --stat-heading: rgba(255, 255, 255, 0.6);
  --body-para: rgba(255, 255, 255, 0.75);
  --dark-blue-1: rgb(35, 28, 62);
  --imgOverlay: rgb(122, 66, 157, 0.75);
  --main-font: 'Lexend Deca', sans-serif;
}

.bodyWrapper {
  width: 100%;
  height: 100vh;
  background-color: var(--dark-blue-2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--main-font);
  padding: 0% 5%;
}

.boxWrapper {
  display: flex;
  font-family: var(--main-font);
  height: 550px;
}

.textWrapper {
  background-color: var(--dark-blue-1);
  padding: 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  border-radius: 15px 0px 0px 15px;
  width: 50%;
}

.textWrapper > h1 {
  color: white;
  font-weight: 600;
  line-height: 1.15;
  font-size: 3rem;
}

.textWrapper h1 span {
  color: var(--purple);
}

.textWrapper > p {
  color: var(--body-para);
  font-size: 1.25rem;
  line-height: 1.58;
  margin-top: 8%;
}

.updatesContainer {
  width: 100%;
  height: 65px;
  margin: 20% auto 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.updateText > h1 {
  font-size: 2.1rem;
  color: white;
}

.updateText p {
  color: var(--stat-heading);
  font-size: 1.05rem;
}

.boxImgSection {
  width: 50%;
  height: 100%;
  border-radius: 0px 15px 15px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../images/statsPreviewCard/image-header-desktop.jpg');
}

.imgOverlay {
  height: 100%;
  width: 100%;
  border-radius: 0px 15px 15px 0px;
  background-color: var(--imgOverlay);
}

/* MEDIA QUERIES */
@media screen and (max-width: 1440px) {
  .boxWrapper {
    width: 100%;
    height: 500px;
  }
  .textWrapper {
    padding: 70px;
  }
  .textWrapper > h1 {
    font-size: 2.5rem;
    padding-right: 8%;
  }
  .textWrapper > p {
    font-size: 1.1rem;
  }
  .updatesContainer {
    height: 60px;
    margin-top: 20%;
  }
  .updateText > h1 {
    font-size: 1.9rem;
  }
  .updateText > p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1024px) {
  .boxWrapper {
    height: 400px;
  }
  .textWrapper {
    padding: 50px;
  }
  .textWrapper > h1 {
    font-size: 1.8rem;
    padding-right: 0;
  }
  .textWrapper > p {
    font-size: 0.9rem;
    padding-right: 0%;
  }
  .updateText > h1 {
    font-size: 1.4rem;
  }
  .updateText > p {
    font-size: 0.65rem;
    letter-spacing: 0.5px;
  }
  .updatesContainer {
    margin-top: 22%;
    height: 50px;
  }
}

/* MOBILE VIEW */
@media screen and (max-width: 670px) {
  .bodyWrapper {
    padding: 8%;
    overflow-y: scroll;
    height: 100%;
  }
  .boxWrapper {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    margin-top: 30%;
  }
  .textWrapper {
    height: fit-content;
    width: 100%;
    order: 1;
    border-radius: 0px 0px 15px 15px;
    justify-content: flex-start;
  }

  .boxImgSection {
    width: 100%;
    height: 400px;
    background-size: cover;
    border-radius: 15px 15px 0px 0px;
  }

  .imgOverlay {
    border-radius: 15px 15px 0px 0px;
  }

  .textWrapper > h1 {
    font-size: 1.8rem;
    text-align: center;
    padding-right: 0;
    width: 95%;
  }
  .textWrapper > p {
    text-align: center;
    font-size: 1rem;
    width: 90%;
  }
  .updatesContainer {
    flex-direction: column;
    height: fit-content;
    margin-top: 0%;
    text-align: center;
  }
  .updateText {
    margin-top: 5%;
  }
  .updateText > h1 {
    font-size: 1.4rem;
  }
  .updateText > p {
    margin-top: 3%;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 450px) {
  .bodyWrapper {
    padding: 5%;
  }
  .textWrapper {
    padding: 30px;
  }
}

@media screen and (max-width: 380px) {
  .boxWrapper {
    margin-top: 40%;
  }

  .updateText > h1 {
    font-size: 1.2rem;
  }

  .textWrapper > h1 {
    font-size: 1.5rem;
  }
}
