/* CSS RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.attribution {
  font-size: 20px;
  padding: 2% 0%;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
